<h1>User Details</h1>

<p style="color: green"><%= notice %></p>

<%= render @user %>
<ul style="list-style: none;">
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
  <li><%= @user.role %></li>
  <li><%= @user.company.name %></li>

</ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
